/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 749px) {
  .container {
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 40px;
  }
}